<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Administrador</title>
    <link rel="icon" type="image/png" href="/logoreporte.png">
    <link rel="stylesheet" href="/css/styless.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/admin/dashboard"><img class="logo" src="/Seven7.png" alt="Logo Seven7"></a>
        </div>
        <div class="icons">
            <a href="/logout/admin"><img src="/Cerrarsesion.png" alt="Logout Admin" id="adminLogoutBtn"></a>
        </div>
    </header>
    <main class="main">
        <section class="admin-dashboard">
            <h2>Bienvenido al Dashboard</h2>
            <div class="admin-buttons">
                <a href="/admin/manage-users" class="admin-btn">Gesti贸n de Usuarios</a>
                <a href="/admin/manage-inventory" class="admin-btn">Gesti贸n de Inventario</a>
                <a href="/admin/payments" class="admin-btn">Gesti贸n de Pagos</a>
                <a href="/admin/reports" class="admin-btn">Generar Reportes</a>
                <a href="/admin/backups" class="admin-btn">Gesti贸n de respaldos</a>
                <a href="/pdfs/Manual de usuario Seven7.pdf" class="admin-btn" target="_blank">Ayuda</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="logo-container">
            <a href="/"><img class="logo" src="/Seven7.png" alt="Logo Seven7"></a>
        </div>
        <div class="footer-center">
            <a href="https://maps.app.goo.gl/SsCiRCKFSDUjVTHD6" target="_blank">Maracaibo: CC Lago Mall mini tiendas</a>
        </div>
        <div class="footer-right">
            <p>Seven7 &copy; 2024</p>
        </div>
    </footer>
</body>
</html>
